# 地価のデータの獲得を試みる。

In [116]:
import pandas as pd
import category_encoders as ce
from cmath import nan
pd.set_option('display.max_columns', 100)

### 足立区

In [186]:
df_adachi = pd.read_csv('../data/outer_data/tokyo-adachi.csv', encoding='shift-jis')
print(df_adachi.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_adachi = pd.read_csv('../data/outer_data/tokyo-adachi.csv', encoding='shift-jis')

locations = df_adachi[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
adachi2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    adachi2019.append(address_price)

adachi2019 = pd.DataFrame(adachi2019)
adachi2019 = adachi2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = adachi2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_adachi2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_adachi2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_adachi2019.to_csv('../data/handmade_data/block_aveprice_adachi2019.csv', index=False)

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年    1987年  \
0             足立区        総平均  270,333  277,606  285,196  307,722  433,521
1             足立区     公示地価平均  271,402  277,910  286,910  308,640  389,109
2             足立区     基準地価平均  269,053  277,236  283,109  306,654  485,200
3              住所        NaN    1983年    1984年    1985年    1986年    1987年
4  東京都足立区扇2-29-19       基準地価        -        -        -        -        -

     1988年    1989年    1990年    1991年    1992年    1993年    1994年    1995年  \
0  690,266  727,748  759,787  784,023  709,637  588,187  519,210  465,759
1  708,637  732,492  754,565  776,391  726,463  589,532  521,175  463,217
2  667,218  722,103  766,000  793,103  689,620  586,222  515,841  470,761
3    1988年    1989年    1990年    1991年    1992年    1993年    1994年    1995年
4        -        -        -        -        -        -        -        -

     1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年  \
0  420,513  385,746  362,206  334,650  307,394  284,983  271,614  263,465
1  419,435  380,564  358,443  327,427  300,725  277,564  264,587  256,809
2  422,634  395,630  369,384  350,642  322,160  301,410  288,053  279,035
3    1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年
4        -        -        -        -        -  209,000  197,000  187,000

     2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年  \
0  258,919  259,197  273,162  310,854  332,917  322,921  310,762  309,171
1  251,282  250,914  256,914  296,682  321,400  315,487  303,113  301,824
2  276,785  278,833  313,941  346,428  361,122  340,673  328,714  325,367
3    2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年
4  184,000  184,000  222,000  262,000  279,000  265,000  257,000  254,000

     2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年  \
0  309,898  310,452  330,534  335,160  329,585  339,880  359,081  381,622
1  302,583  302,583  328,426  332,548  319,233  328,136  345,890  367,663
2  326,020  327,795  334,061  339,530  351,346  366,244  388,693  412,959
3    2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年
4  253,000  253,000  254,000  255,000  260,000  268,000  279,000  291,000

     2020年    2021年    2022年
0  401,452  403,352        -
1  392,763  392,590  399,236
2  420,959  427,510        -
3    2020年    2021年    2022年
4  298,000  302,000        -

### 荒川区

In [187]:
df_arakawa = pd.read_csv('../data/outer_data/tokyo-arakawa.csv', encoding='shift-jis')
print(df_arakawa.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'

    if '町屋' in block:#「荒川区町屋」対策
        place = block.split('屋')[0]
        return place + '屋'

    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_arakawa = pd.read_csv('../data/outer_data/tokyo-arakawa.csv', encoding='shift-jis')

locations = df_arakawa[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
arakawa2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    arakawa2019.append(address_price)

arakawa2019 = pd.DataFrame(arakawa2019)
arakawa2019 = arakawa2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = arakawa2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_arakawa2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_arakawa2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_arakawa2019.to_csv('../data/handmade_data/block_aveprice_arakawa2019.csv', index=False)

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0             荒川区        総平均  490,677  498,758  517,724  617,535  1,081,964
1             荒川区     公示地価平均  495,500  517,187  536,687  627,066  1,026,800
2             荒川区     基準地価平均  485,533  476,076  494,384  606,538  1,145,615
3              住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都荒川区南千住8-4-7       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年      1993年  \
0  1,376,642  1,403,931  1,445,137  1,610,310  1,474,482  1,161,783
1  1,488,266  1,495,266  1,537,266  1,599,933  1,506,266  1,219,428
2  1,247,846  1,306,071  1,346,428  1,621,428  1,440,428  1,086,125
3      1988年      1989年      1990年      1991年      1992年      1993年
4          -          -          -          -          -          -

       1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年  \
0    982,325  807,148  710,659  642,063  599,404  557,227  518,113  487,068
1  1,025,166  813,483  717,161  644,483  599,870  555,000  516,387  485,774
2    918,062  794,875  698,062  637,375  598,500  562,538  522,230  490,153
3      1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年
4          -        -        -        -        -        -        -        -

     2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年  \
0  466,400  448,333  429,555  424,204  436,295  488,272  533,590  498,840
1  466,375  447,750  431,687  424,548  429,000  473,258  531,064  499,806
2  466,461  449,769  424,307  423,384  453,692  524,076  539,615  496,538
3    2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年
4        -        -        -        -        -        -        -        -

     2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年  \
0  474,545  483,414  477,097  478,357  501,914  511,257  507,380  530,046
1  471,096  482,892  474,071  473,571  506,523  514,523  499,142  519,551
2  482,769  484,538  483,615  487,928  495,000  506,357  523,857  551,785
3    2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年
4        -  432,000  432,000  436,000  441,000  459,000  480,000  510,000

     2018年    2019年    2020年    2021年    2022年
0  570,209  626,441  672,744  667,023        -
1  553,896  605,586  666,241  656,103  669,206
2  604,000  669,642  686,214  689,642        -
3    2018年    2019年    2020年    2021年    2022年
4  553,000  598,000  611,000  617,000        -

### 文京区

In [185]:
df_bunkyo = pd.read_csv('../data/outer_data/tokyo-bunkyo.csv', encoding='shift-jis')
print(df_bunkyo.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_bunkyo = pd.read_csv('../data/outer_data/tokyo-bunkyo.csv', encoding='shift-jis')

locations = df_bunkyo[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
bunkyo2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    bunkyo2019.append(address_price)

bunkyo2019 = pd.DataFrame(bunkyo2019)
bunkyo2019 = bunkyo2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = bunkyo2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_bunkyo2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_bunkyo2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_bunkyo2019.to_csv('../data/handmade_data/block_aveprice_bunkyo2019.csv', index=False)
#adachi

              市区町村 Unnamed: 1    1983年    1984年    1985年      1986年  \
0              文京区        総平均  753,947  813,657  894,868  1,427,282
1              文京区     公示地価平均  767,100  835,000  907,000  1,117,714
2              文京区     基準地価平均  739,333  789,944  881,388  1,788,444
3               住所        NaN    1983年    1984年    1985年      1986年
4  東京都文京区本駒込1-16-5       基準地価        -        -        -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  3,016,860  3,389,767  3,446,000  3,610,888  3,588,888  3,125,111
1  2,945,000  3,551,600  3,448,800  3,482,000  3,479,600  3,108,000
2  3,116,666  3,165,000  3,442,500  3,772,000  3,725,500  3,146,500
3      1987年      1988年      1989年      1990年      1991年      1992年
4          -          -          -          -          -          -

       1993年      1994年      1995年      1996年      1997年      1998年    1999年  \
0  2,481,357  2,027,564  1,698,000  1,324,046  1,103,738    998,138  921,661
1  2,411,941  1,952,025  1,671,046  1,299,720  1,074,837    970,372  894,906
2  2,588,636  2,164,909  1,750,681  1,371,590  1,160,227  1,052,409  982,210
3      1993年      1994年      1995年      1996年      1997年      1998年    1999年
4          -          -          -          -          -          -        -

     2000年    2001年    2002年    2003年    2004年    2005年    2006年      2007年  \
0  862,338  816,790  783,476  763,535  758,071  756,261  781,595    946,283
1  844,046  797,558  770,323  749,307  741,600  737,784  752,076    899,158
2  903,736  860,315  828,473  812,210  814,421  819,473  882,578  1,111,222
3    2000年    2001年    2002年    2003年    2004年    2005年    2006年      2007年
4        -        -        -        -        -        -        -          -

       2008年      2009年    2010年    2011年    2012年    2013年    2014年    2015年  \
0  1,104,037  1,001,864  913,068  884,414  871,557  882,014  933,761  973,476
1  1,095,580  1,004,267  901,218  872,750  857,846  868,615  926,422  963,888
2  1,133,166    994,388  949,277  918,111  911,166  920,722  952,111  997,444
3      2008年      2009年    2010年    2011年    2012年    2013年    2014年    2015年
4          -          -        -        -        -  714,000  730,000  755,000

       2016年      2017年      2018年      2019年      2020年      2021年      2022年
0    995,246  1,051,217  1,117,782  1,207,811  1,289,318  1,276,579          -
1    979,235  1,031,215  1,094,509  1,181,450  1,280,921  1,259,568  1,280,117
2  1,040,611  1,107,888  1,183,722  1,282,500  1,313,111  1,324,777          -
3      2016年      2017年      2018年      2019年      2020年      2021年      2022年
4    778,000    820,000    875,000    933,000    954,000    955,000          -

### 千代田区

In [188]:
df_chiyoda = pd.read_csv('../data/outer_data/tokyo-chiyoda.csv', encoding='shift-jis')
print(df_chiyoda.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_chiyoda = pd.read_csv('../data/outer_data/tokyo-chiyoda.csv', encoding='shift-jis')

locations = df_chiyoda[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
chiyoda2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    chiyoda2019.append(address_price)

chiyoda2019 = pd.DataFrame(chiyoda2019)
chiyoda2019 = chiyoda2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = chiyoda2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_chiyoda2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_chiyoda2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_chiyoda2019.to_csv('../data/handmade_data/block_aveprice_chiyoda2019.csv', index=False)
#adachi

             市区町村 Unnamed: 1      1983年      1984年      1985年       1986年  \
0            千代田区        総平均  2,389,347  2,995,478  4,492,608   9,699,565
1            千代田区     公示地価平均  2,160,434  2,813,130  3,763,043   8,279,200
2            千代田区     基準地価平均  2,618,260  3,177,826  5,222,173  10,506,590
3              住所        NaN      1983年      1984年      1985年       1986年
4  東京都千代田区六番町6番1外       基準地価          -          -          -           -

        1987年       1988年       1989年       1990年       1991年       1992年  \
0  14,180,434  15,103,857  15,221,428  15,577,000  15,567,285  13,829,859
1  13,436,400  15,177,307  15,151,923  15,565,769  15,577,307  14,768,888
2  14,603,181  15,060,454  15,262,500  15,583,636  15,561,363  13,253,636
3       1987年       1988年       1989年       1990年       1991年       1992年
4           -           -           -           -           -           -

        1993年      1994年      1995年      1996年      1997年      1998年  \
0  10,283,950  7,341,931  5,278,172  4,014,193  3,489,086  3,418,494
1  11,113,888  7,887,209  5,687,291  4,239,583  3,548,020  3,520,416
2   9,620,000  6,820,888  4,841,777  3,773,777  3,426,222  3,309,777
3       1993年      1994年      1995年      1996年      1997年      1998年
4           -          -          -          -          -          -

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  3,318,554  3,200,804  3,067,926  3,509,318  3,479,905  3,499,681
1  3,365,729  3,205,918  3,091,020  3,744,228  3,724,204  3,738,710
2  3,253,857  3,193,212  3,033,636  2,918,484  2,865,454  2,898,484
3      1999年      2000年      2001年      2002年      2003年      2004年
4          -          -          -          -          -          -

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  3,440,300  3,766,176  4,591,072  5,404,523  4,989,385  4,405,489
1  3,599,925  3,898,000  4,672,253  5,642,026  5,420,061  4,743,666
2  3,036,250  3,432,500  4,384,193  4,822,258  4,086,354  3,718,225
3      2005年      2006年      2007年      2008年      2009年      2010年
4          -          -          -          -          -          -

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  4,205,655  4,112,211  4,110,977  4,590,987  4,875,740  5,135,088
1  4,518,440  4,391,949  4,369,084  5,091,717  5,407,043  5,515,152
2  3,610,354  3,579,806  3,619,741  3,847,967  4,087,354  4,411,741
3      2011年      2012年      2013年      2014年      2015年      2016年
4          -  2,780,000  2,880,000  3,070,000  3,260,000  3,630,000

       2017年      2018年      2019年      2020年      2021年      2022年
0  5,385,184  5,638,119  5,888,752  5,851,741  5,748,774          -
1  5,757,475  6,009,622  6,330,721  6,270,573  6,148,065  5,858,216
2  4,652,612  4,907,096  5,046,250  5,053,343  4,987,625          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4  3,800,000  3,900,000  3,960,000  4,050,000  4,100,000          -

### 中央区

In [189]:
df_chuo = pd.read_csv('../data/outer_data/tokyo-chuo.csv', encoding='shift-jis')
print(df_chuo.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_chuo = pd.read_csv('../data/outer_data/tokyo-chuo.csv', encoding='shift-jis')

locations = df_chuo[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
chuo2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    chuo2019.append(address_price)

chuo2019 = pd.DataFrame(chuo2019)
chuo2019 = chuo2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = chuo2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_chuo2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_chuo2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_chuo2019.to_csv('../data/handmade_data/block_aveprice_chuo2019.csv', index=False)
#bunkyo

           市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0           中央区        総平均  2,927,853  3,715,365  5,340,024  9,099,375
1           中央区     公示地価平均  2,955,000  3,713,210  5,078,421  9,653,636
2           中央区     基準地価平均  2,904,409  3,717,227  5,565,954  8,809,047
3            住所        NaN      1983年      1984年      1985年      1986年
4  東京都中央区佃1-5-7       基準地価          -          -          -          -

        1987年       1988年       1989年       1990年       1991年       1992年  \
0  13,831,093  14,893,906  15,107,187  15,687,500  15,713,750  14,372,878
1  14,778,181  17,160,909  17,220,000  17,747,727  17,859,090  16,991,666
2  13,335,000  13,706,428  14,000,476  14,608,333  14,590,000  12,876,428
3       1987年       1988年       1989年       1990年       1991年       1992年
4           -   3,660,000   3,660,000   3,700,000   3,600,000   2,900,000

        1993年      1994年      1995年      1996年      1997年      1998年  \
0  10,923,600  7,258,518  5,122,790  3,844,174  3,410,290  3,312,790
1  12,808,787  8,156,153  5,696,818  4,217,045  3,629,318  3,551,136
2   9,442,380  6,425,000  4,521,428  3,453,547  3,180,833  3,063,095
3       1993年      1994年      1995年      1996年      1997年      1998年
4   1,800,000  1,300,000    880,000    679,000    665,000    650,000

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  3,210,441  3,007,368  2,856,026  2,948,386  2,925,752  2,966,376
1  3,368,295  3,118,666  2,962,844  3,096,814  3,073,385  3,108,500
2  2,999,969  2,845,806  2,700,967  2,613,225  2,592,387  2,645,451
3      1999年      2000年      2001年      2002年      2003年      2004年
4    625,000    620,000    590,000    575,000    575,000    575,000

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  3,133,161  3,527,704  4,530,340  5,494,148  5,189,565  4,242,055
1  3,245,188  3,588,911  4,552,830  5,662,153  5,621,269  4,514,508
2  2,875,500  3,388,966  4,479,931  5,117,586  4,251,724  3,668,965
3      2005年      2006年      2007年      2008年      2009年      2010年
4    575,000    620,000    765,000    790,000    690,000    680,000

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  4,405,779  4,305,569  4,395,488  4,918,075  5,417,887  5,912,418
1  4,833,192  4,710,842  4,770,596  5,466,980  5,995,117  6,317,473
2  3,565,689  3,509,000  3,658,206  3,952,758  4,402,758  5,116,275
3      2011年      2012年      2013年      2014年      2015年      2016年
4    674,000    670,000    680,000    708,000    741,000    771,000

       2017年      2018年      2019年      2020年      2021年      2022年
0  6,648,195  7,215,054  7,523,053  7,565,861  7,184,436          -
1  7,159,079  7,769,619  8,219,777  8,570,079  8,090,031  7,951,375
2  5,538,344  6,010,310  6,107,129  5,525,032  5,344,032          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4    816,000    873,000    931,000    946,000    955,000          -

### 江戸川区

In [190]:
df_edogawa = pd.read_csv('../data/outer_data/tokyo-edogawa.csv', encoding='shift-jis')
print(df_edogawa.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_edogawa = pd.read_csv('../data/outer_data/tokyo-edogawa.csv', encoding='shift-jis')

locations = df_edogawa[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
edogawa2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    edogawa2019.append(address_price)

edogawa2019 = pd.DataFrame(edogawa2019)
edogawa2019 = edogawa2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = edogawa2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_edogawa2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_edogawa2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_edogawa2019.to_csv('../data/handmade_data/block_aveprice_edogawa2019.csv', index=False)
#bunkyo

                市区町村 Unnamed: 1    1983年    1984年    1985年    1986年    1987年  \
0               江戸川区        総平均  296,811  307,216  314,150  333,826  613,903
1               江戸川区     公示地価平均  290,931  300,500  307,344  320,578  482,543
2               江戸川区     基準地価平均  303,916  315,333  322,375  349,893  773,212
3                 住所        NaN    1983年    1984年    1985年    1986年    1987年
4  東京都江戸川区北小岩6-40-11       基準地価        -        -        -        -        -

     1988年      1989年      1990年      1991年      1992年    1993年    1994年  \
0  952,788  1,006,723  1,085,651  1,106,116  1,040,642  864,140  714,614
1  939,548    961,580  1,010,548  1,030,016    996,000  821,481  678,148
2  970,255  1,062,700  1,178,780  1,200,480  1,096,000  928,129  778,092
3    1988年      1989年      1990年      1991年      1992年    1993年    1994年
4        -          -          -          -          -        -        -

     1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年  \
0  623,475  561,759  519,339  473,049  427,064  387,490  361,193  343,506
1  594,648  544,777  506,203  465,138  422,009  382,879  357,416  338,944
2  681,129  595,722  545,611  488,870  438,437  398,085  369,872  354,085
3    1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年
4        -        -        -        -  358,000  336,000  320,000  309,000

     2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年  \
0  330,519  323,070  318,881  327,637  366,000  390,468  366,712  346,110
1  325,954  318,155  315,130  319,934  355,883  386,336  367,070  342,718
2  341,106  334,468  327,800  347,261  392,050  400,900  365,825  354,250
3    2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年
4  300,000  292,000  291,000  306,000  336,000  340,000  310,000  305,000

     2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年  \
0  343,469  339,269  337,500  351,294  355,955  354,930  367,564  383,961
1  340,977  336,166  332,933  348,333  352,722  348,700  357,582  372,439
2  349,075  346,250  347,775  356,625  361,775  368,950  390,275  410,175
3    2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年
4  293,000  290,000  290,000  290,000  292,000  296,000  303,000  312,000

     2019年    2020年    2021年    2022年
0  406,519  421,961  418,787        -
1  392,703  411,747  407,835  413,252
2  437,950  445,200  443,097        -
3    2019年    2020年    2021年    2022年
4  322,000  322,000  322,000        -

### 板橋区

In [191]:
df_itabashi = pd.read_csv('../data/outer_data/tokyo-itabashi.csv', encoding='shift-jis')
print(df_itabashi.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_itabashi = pd.read_csv('../data/outer_data/tokyo-itabashi.csv', encoding='shift-jis')

locations = df_itabashi[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
itabashi2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    itabashi2019.append(address_price)

itabashi2019 = pd.DataFrame(itabashi2019)
itabashi2019 = itabashi2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = itabashi2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_itabashi2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_itabashi2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_itabashi2019.to_csv('../data/handmade_data/block_aveprice_itabashia2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0             板橋区        総平均  396,975  408,049  421,296  474,375    967,950
1             板橋区     公示地価平均  407,363  418,613  430,750  461,209    876,976
2             板橋区     基準地価平均  384,947  395,486  410,054  489,675  1,073,675
3              住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都板橋区板橋4-37-2       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年    1993年    1994年  \
0  1,133,119  1,155,372  1,178,069  1,188,767  1,046,046  800,278  674,815
1  1,170,893  1,166,382  1,183,276  1,187,680  1,073,148  781,523  654,356
2  1,085,135  1,142,102  1,171,794  1,190,076  1,013,384  829,097  711,243
3      1988年      1989年      1990年      1991年      1992年    1993年    1994年
4          -  1,150,000  1,160,000  1,140,000    913,000  730,000  621,000

     1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年  \
0  610,225  560,959  531,233  510,838  485,771  458,245  437,372  423,341
1  590,542  542,590  514,493  495,156  469,301  442,325  421,566  411,397
2  650,073  598,146  565,121  542,585  524,828  496,000  474,857  453,371
3    1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年
4  590,000  558,000  531,000  504,000  469,000  440,000  420,000  403,000

     2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年  \
0  406,504  394,382  392,308  397,924  442,552  482,428  444,800  422,280
1  394,318  381,761  378,290  378,894  419,280  467,450  435,102  408,760
2  437,142  426,114  427,764  445,500  502,187  519,875  468,437  453,968
3    2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年
4  393,000  386,000  386,000  397,000  445,000  462,000  422,000  408,000

     2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年  \
0  416,049  411,235  410,568  426,252  432,896  433,693  449,029  472,431
1  402,857  397,085  395,442  411,854  417,127  415,681  429,385  449,142
2  444,906  442,187  443,656  451,000  460,000  472,531  492,000  523,375
3    2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年
4  403,000  401,000  403,000  408,000  415,000  428,000  446,000  480,000

     2019年    2020年    2021年    2022年
0  496,509  518,686  514,401        -
1  475,214  503,857  498,300  503,814
2  543,093  551,125  549,625        -
3    2019年    2020年    2021年    2022年
4  510,000  522,000  525,000        -

### 葛飾区

In [193]:
df_katsushika = pd.read_csv('../data/outer_data/tokyo-katsushika.csv', encoding='shift-jis')
print(df_katsushika.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_katsushika = pd.read_csv('../data/outer_data/tokyo-katsushika.csv', encoding='shift-jis')

locations = df_katsushika[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
katsushika2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    katsushika2019.append(address_price)

katsushika2019 = pd.DataFrame(katsushika2019)
katsushika2019 = katsushika2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = katsushika2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_katsushika2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_katsushika2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_katsushika2019.to_csv('../data/handmade_data/block_aveprice_katsushika2019.csv', index=False)
#chuo

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年    1987年  \
0             葛飾区        総平均  357,361  366,277  370,958  390,449  700,869
1             葛飾区     公示地価平均  366,200  379,225  384,025  384,000  558,631
2             葛飾区     基準地価平均  346,312  350,093  354,625  398,354  875,225
3              住所        NaN    1983年    1984年    1985年    1986年    1987年
4  東京都葛飾区金町3-39-8       基準地価  312,000  312,000  318,000  345,000  665,000

     1988年    1989年      1990年      1991年    1992年    1993年    1994年    1995年  \
0  887,863  923,131    947,723    972,039  895,355  696,747  601,080  530,218
1  861,119  877,952    894,452    931,571  875,833  672,684  587,878  516,210
2  924,096  978,941  1,013,529  1,022,029  919,470  737,088  626,705  561,529
3    1988年    1989年      1990年      1991年    1992年    1993年    1994年    1995年
4  700,000  713,000    760,000    760,000  675,000  540,000  500,000  488,000

     1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年  \
0  491,709  460,590  433,918  388,435  354,685  333,416  318,247  305,575
1  478,539  449,500  427,592  388,789  350,236  328,736  315,308  302,074
2  521,147  485,382  448,058  387,593  365,250  344,531  325,687  314,437
3    1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年
4  470,000  453,000  428,000  383,000  361,000  348,000  335,000  328,000

     2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年  \
0  297,026  294,736  297,633  324,865  346,852  330,700  319,183  318,861
1  293,209  290,708  291,487  315,573  341,438  327,000  314,391  314,123
2  306,687  305,000  313,096  348,896  360,482  339,758  330,586  329,482
3    2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年
4  324,000  323,000  334,000  370,000  380,000  350,000  341,000  338,000

     2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年  \
0  317,010  319,244  331,350  334,800  331,347  339,279  351,236  367,290
1  311,861  314,538  332,647  336,098  328,904  336,234  347,656  362,640
2  328,551  329,793  329,068  332,517  336,655  346,000  359,137  377,551
3    2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年
4  337,000  337,000  339,000  341,000  345,000  352,000  360,000  368,000

     2020年    2021年    2022年
0  376,892  376,282        -
1  376,250  375,730  377,380
2  378,310  377,482        -
3    2020年    2021年    2022年
4  371,000  371,000        -

### 北区

In [194]:
df_kita = pd.read_csv('../data/outer_data/tokyo-kita.csv', encoding='shift-jis')
print(df_kita.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_kita = pd.read_csv('../data/outer_data/tokyo-kita.csv', encoding='shift-jis')

locations = df_kita[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
kita2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    kita2019.append(address_price)

kita2019 = pd.DataFrame(kita2019)
kita2019 = kita2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = kita2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_kita2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_kita2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_kita2019.to_csv('../data/handmade_data/block_aveprice_kita2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0              北区        総平均  468,606  487,389  511,813  631,175  1,160,228
1              北区     公示地価平均  489,935  508,838  530,225  675,931  1,129,551
2              北区     基準地価平均  446,566  463,642  491,428  584,821  1,192,000
3              住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都北区上十条2-17-4       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年      1993年  \
0  1,542,400  1,549,451  1,569,564  1,596,935  1,456,774  1,224,135
1  1,503,468  1,509,625  1,455,156  1,425,062  1,367,250  1,222,023
2  1,586,892  1,591,933  1,691,600  1,780,266  1,552,266  1,227,064
3      1988年      1989年      1990年      1991年      1992年      1993年
4          -          -          -    908,000    763,000    633,000

       1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年  \
0  1,019,925  869,218  759,091  680,747  628,954  580,662  544,240  511,626
1  1,009,960  852,625  744,625  665,625  617,428  569,642  536,053  504,000
2  1,036,000  899,193  785,225  708,064  649,774  603,518  561,222  527,444
3      1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年
4    576,000  547,000  520,000  495,000  470,000  445,000  426,000  408,000

     2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年  \
0  500,114  479,052  462,989  457,138  469,763  525,215  572,476  538,719
1  500,391  478,637  461,652  453,882  459,313  507,156  565,838  542,586
2  499,407  480,111  466,407  465,653  496,692  573,375  589,625  529,375
3    2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年
4  393,000  380,000  372,000  372,000  398,000  445,000  447,000  423,000

     2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年  \
0  513,575  511,493  509,558  510,342  538,764  547,455  541,960  567,435
1  512,839  513,320  509,679  509,679  548,400  556,155  538,547  563,036
2  515,291  507,458  509,291  511,869  519,913  530,434  549,826  577,956
3    2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年
4  413,000  408,000  407,000  407,000  412,000  420,000  430,000  447,000

     2018年    2019年    2020年    2021年    2022年
0  611,294  665,730  716,987  709,141        -
1  604,236  657,836  723,545  711,145  722,509
2  628,173  684,608  701,304  704,347        -
3    2018年    2019年    2020年    2021年    2022年
4  480,000  515,000  528,000  532,000        -

### 江東区

In [195]:
df_koto = pd.read_csv('../data/outer_data/tokyo-koto.csv', encoding='shift-jis')
print(df_koto.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_koto = pd.read_csv('../data/outer_data/tokyo-koto.csv', encoding='shift-jis')

locations = df_koto[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
koto2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    koto2019.append(address_price)

koto2019 = pd.DataFrame(koto2019)
koto2019 = koto2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = koto2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_koto2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_koto2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_koto2019.to_csv('../data/handmade_data/block_aveprice_koto2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0             江東区        総平均  430,107  445,648  460,759  538,211  1,330,277
1             江東区     公示地価平均  447,040  468,640  491,400  530,083  1,074,538
2             江東区     基準地価平均  416,451  425,827  434,344  545,178  1,567,750
3              住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都江東区東砂8-8-13       基準地価        -        -        -        -    488,000

       1988年      1989年      1990年      1991年      1992年      1993年  \
0  1,828,303  1,846,344  1,945,172  1,938,482  1,623,017  1,281,014
1  1,610,250  1,702,464  1,818,571  1,846,964  1,660,892  1,247,447
2  2,046,357  1,980,633  2,063,333  2,023,900  1,587,666  1,319,666
3      1988年      1989年      1990年      1991年      1992年      1993年
4    665,000    665,000    690,000    690,000    510,000    459,000

       1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年  \
0  1,080,000  809,908  651,034  574,344  536,287  496,847  457,976  429,423
1  1,057,636  815,037  646,981  565,185  530,629  488,888  451,796  423,166
2  1,109,818  801,515  657,666  589,333  545,545  510,709  468,741  440,322
3      1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年
4    404,000  364,000  340,000  325,000  315,000  305,000  296,000  294,000

     2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年  \
0  410,616  405,000  403,988  406,265  415,597  480,012  528,610  493,526
1  402,818  396,018  395,090  398,301  400,452  461,411  518,760  491,306
2  424,451  420,935  419,774  420,333  443,275  515,148  546,851  497,555
3    2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年
4  292,000  291,000  291,000  291,000  301,000  330,000  340,000  316,000

     2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年  \
0  469,368  458,739  453,589  455,561  473,405  484,289  492,150  522,253
1  462,938  452,565  443,956  443,673  463,023  473,619  478,195  512,916
2  481,037  469,259  470,000  475,814  489,555  500,888  515,925  538,851
3    2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年
4  307,000  302,000  300,000  300,000  307,000  314,000  322,000  332,000

     2018年    2019年    2020年    2021年    2022年
0  552,080  597,186  631,893  629,680        -
1  539,562  583,708  631,208  624,875  636,437
2  574,333  621,148  633,111  638,222        -
3    2018年    2019年    2020年    2021年    2022年
4  346,000  372,000  381,000  381,000        -

### 目黒区

In [196]:
df_meguro = pd.read_csv('../data/outer_data/tokyo-meguro.csv', encoding='shift-jis')
print(df_meguro.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_meguro = pd.read_csv('../data/outer_data/tokyo-meguro.csv', encoding='shift-jis')

locations = df_meguro[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
meguro2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    meguro2019.append(address_price)

meguro2019 = pd.DataFrame(meguro2019)
meguro2019 = meguro2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = meguro2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_meguro2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_meguro2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_meguro2019.to_csv('../data/handmade_data/block_aveprice_meguro2019.csv', index=False)
#bunkyo

                市区町村 Unnamed: 1    1983年    1984年      1985年      1986年  \
0                目黒区        総平均  767,409  841,636    965,931  1,441,250
1                目黒区     公示地価平均  687,680  752,440    845,080  1,128,200
2                目黒区     基準地価平均  872,315  959,000  1,124,947  1,853,157
3                 住所        NaN    1983年    1984年      1985年      1986年
4  東京都目黒区自由が丘2-18-26       基準地価        -        -          -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  3,081,020  3,284,897  3,200,392  3,198,431  3,181,960  2,656,470
1  2,672,333  2,945,000  2,822,333  2,810,000  2,827,000  2,397,000
2  3,726,315  3,821,578  3,740,476  3,753,333  3,689,047  3,027,142
3      1987年      1988年      1989年      1990年      1991年      1992年
4          -          -          -          -          -          -

       1993年      1994年      1995年      1996年    1997年    1998年    1999年  \
0  1,963,531  1,494,436  1,229,210  1,040,526  931,565  878,486  820,638
1  1,806,190  1,432,244  1,204,907  1,024,907  913,796  860,333  813,407
2  2,263,909  1,632,954  1,288,863  1,078,863  975,181  923,045  842,333
3      1993年      1994年      1995年      1996年    1997年    1998年    1999年
4          -          -          -          -        -        -        -

     2000年    2001年    2002年    2003年    2004年    2005年    2006年      2007年  \
0  774,638  748,833  750,474  738,641  738,205  743,947  795,184    962,616
1  772,037  744,518  751,450  739,400  739,950  742,372  786,220    942,421
2  782,444  761,777  747,222  736,111  732,388  749,411  826,294  1,034,562
3    2000年    2001年    2002年    2003年    2004年    2005年    2006年      2007年
4        -        -        -        -        -        -        -          -

       2008年      2009年    2010年    2011年    2012年    2013年      2014年  \
0  1,095,388  1,000,500  930,092  888,758  873,629  879,677    969,480
1  1,105,785  1,020,800  942,122  895,173  879,043  883,456  1,004,500
2  1,059,000    937,062  893,250  870,312  858,062  868,812    895,062
3      2008年      2009年    2010年    2011年    2012年    2013年      2014年
4          -          -  875,000  864,000  864,000  875,000    903,000

       2015年      2016年      2017年      2018年      2019年      2020年  \
0  1,001,960  1,000,887  1,073,348  1,123,424  1,188,590  1,246,848
1  1,034,176  1,002,217  1,080,160  1,131,120  1,195,400  1,266,240
2    933,500    997,062  1,052,062  1,099,375  1,167,312  1,186,250
3      2015年      2016年      2017年      2018年      2019年      2020年
4    931,000  1,010,000  1,070,000  1,090,000  1,110,000  1,120,000

       2021年      2022年
0  1,245,848          -
1  1,263,840  1,269,980
2  1,189,625          -
3      2021年      2022年
4  1,120,000          -

### 港区

In [197]:
df_minato = pd.read_csv('../data/outer_data/tokyo-minato.csv', encoding='shift-jis')
print(df_minato.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_minato = pd.read_csv('../data/outer_data/tokyo-minato.csv', encoding='shift-jis')

locations = df_minato[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
minato2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    minato2019.append(address_price)

minato2019 = pd.DataFrame(minato2019)
minato2019 = minato2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = minato2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_minato2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_minato2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_minato2019.to_csv('../data/handmade_data/block_aveprice_minato2019.csv', index=False)
#bunkyo

            市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0             港区        総平均  1,647,540  2,057,934  3,659,754  7,657,940
1             港区     公示地価平均  1,481,093  1,777,781  3,038,812  6,126,970
2             港区     基準地価平均  1,831,206  2,367,068  4,344,931  8,699,000
3             住所        NaN      1983年      1984年      1985年      1986年
4  東京都港区高輪3-5-12       基準地価          -          -          -          -

        1987年       1988年       1989年       1990年       1991年       1992年  \
0  11,954,642  11,910,823  11,805,529  12,030,823  11,739,647  10,183,604
1  10,765,882  11,502,571  11,272,285  11,482,000  11,476,285  10,264,166
2  12,763,000  12,196,600  12,178,800  12,415,000  11,924,000  10,125,600
3       1987年       1988年       1989年       1990年       1991年       1992年
4           -           -           -           -           -           -

       1993年      1994年      1995年      1996年      1997年      1998年  \
0  6,925,816  4,446,355  3,079,956  2,358,184  2,096,105  2,013,710
1  6,829,583  4,481,403  2,996,062  2,293,015  1,983,000  1,899,750
2  7,018,200  4,406,400  3,187,340  2,441,600  2,240,880  2,159,580
3      1993年      1994年      1995年      1996年      1997年      1998年
4          -          -          -          -          -          -

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  1,879,857  1,777,192  1,742,903  1,954,347  1,935,884  1,925,166
1  1,774,750  1,661,738  1,618,738  1,960,939  1,940,171  1,917,101
2  2,043,926  1,969,615  1,949,846  1,937,615  1,925,000  1,945,641
3      1999年      2000年      2001年      2002年      2003年      2004年
4          -          -          -          -          -          -

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  1,969,400  2,310,895  3,025,687  3,563,317  3,089,193  2,686,172
1  1,931,412  2,244,427  2,923,891  3,618,533  3,205,681  2,733,523
2  2,066,368  2,478,815  3,285,833  3,425,277  2,804,444  2,573,055
3      2005年      2006年      2007年      2008年      2009年      2010年
4          -  1,000,000  1,180,000  1,110,000  1,000,000    980,000

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  2,546,241  2,475,215  2,476,491  2,691,000  2,891,194  3,065,478
1  2,586,712  2,497,437  2,479,287  2,733,283  2,910,716  2,939,113
2  2,456,305  2,425,833  2,470,277  2,612,305  2,854,861  3,342,777
3      2011年      2012年      2013年      2014年      2015年      2016年
4    970,000    970,000    990,000  1,040,000  1,080,000  1,120,000

       2017年      2018年      2019年      2020年      2021年      2022年
0  3,282,508  3,508,118  3,810,516  4,149,616  4,110,785          -
1  3,143,036  3,345,402  3,611,975  4,047,926  3,997,349  4,016,024
2  3,600,194  3,878,750  4,238,947  4,369,052  4,358,552          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4  1,170,000  1,220,000  1,300,000  1,320,000  1,340,000          -

### 中野区

In [198]:
df_nakano = pd.read_csv('../data/outer_data/tokyo-nakano.csv', encoding='shift-jis')
print(df_nakano.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_nakano = pd.read_csv('../data/outer_data/tokyo-nakano.csv', encoding='shift-jis')

locations = df_nakano[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
nakano2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    nakano2019.append(address_price)

nakano2019 = pd.DataFrame(nakano2019)
nakano2019 = nakano2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = nakano2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_nakano2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_nakano2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_nakano2019.to_csv('../data/handmade_data/block_aveprice_nakano2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年    1985年      1986年      1987年  \
0             中野区        総平均  559,854  582,849  625,433    967,777  1,806,118
1             中野区     公示地価平均  555,500  584,633  626,000    824,451  1,670,833
2             中野区     基準地価平均  565,080  580,521  624,695  1,160,956  2,017,869
3              住所        NaN    1983年    1984年    1985年      1986年      1987年
4  東京都中野区鷺宮3-28-5       基準地価        -        -        -          -          -

       1988年      1989年      1990年      1991年      1992年      1993年  \
0  2,068,474  1,930,500  1,939,666  1,900,583  1,638,983  1,296,095
1  2,044,166  1,894,722  1,901,388  1,887,083  1,649,388  1,337,520
2  2,106,521  1,984,166  1,997,083  1,920,833  1,623,375  1,216,560
3      1988年      1989年      1990年      1991年      1992年      1993年
4          -          -          -          -          -          -

       1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年  \
0    998,426  865,252  742,126  696,816  680,057  657,880  634,059  617,616
1    992,350  861,967  732,354  679,370  662,193  639,016  614,774  597,390
2  1,012,280  873,400  766,360  740,080  724,360  711,045  688,409  676,454
3      1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年
4          -        -        -        -        -        -        -        -

     2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年  \
0  609,890  596,373  587,736  589,386  601,298  670,690  759,385  699,935
1  596,318  583,594  574,478  572,716  581,681  639,777  745,000  697,321
2  652,454  636,454  629,318  642,571  662,952  763,428  801,857  706,904
3    2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年
4        -        -        -        -        -        -        -        -

     2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年  \
0  650,720  650,902  644,535  643,901  682,281  700,640  700,028  731,635
1  641,277  646,058  638,900  634,520  682,744  698,883  686,220  717,320
2  675,000  662,666  657,952  666,238  681,333  704,238  732,904  767,761
3    2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年
4        -        -  410,000  414,000  419,000  424,000  430,000  440,000

     2018年    2019年    2020年    2021年    2022年
0  775,918  833,256  886,702  887,716        -
1  758,679  812,547  876,905  874,245  895,226
2  819,428  885,523  911,428  921,714        -
3    2018年    2019年    2020年    2021年    2022年
4  454,000  475,000  480,000  480,000        -

### 練馬

In [199]:
df_nerima = pd.read_csv('../data/outer_data/tokyo-nerima.csv', encoding='shift-jis')
print(df_nerima.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_nerima = pd.read_csv('../data/outer_data/tokyo-nerima.csv', encoding='shift-jis')

locations = df_nerima[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
nerima2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    nerima2019.append(address_price)

nerima2019 = pd.DataFrame(nerima2019)
nerima2019 = nerima2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = nerima2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_nerima2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_nerima2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_nerima2019.to_csv('../data/handmade_data/block_aveprice_nerima2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年    1987年  \
0             練馬区        総平均  321,060  330,273  338,609  381,230  770,046
1             練馬区     公示地価平均  303,527  311,378  319,378  338,444  612,202
2             練馬区     基準地価平均  343,050  356,166  364,962  438,277  986,351
3              住所        NaN    1983年    1984年    1985年    1986年    1987年
4  東京都練馬区旭丘2-22-7       基準地価        -        -        -        -        -

       1988年    1989年      1990年    1991年    1992年    1993年    1994年    1995年  \
0  1,003,088  942,137    952,789  939,891  792,572  643,226  567,940  524,035
1    999,543  912,691    917,098  915,148  794,617  623,373  554,832  511,115
2  1,008,407  983,982  1,003,508  975,052  789,666  678,049  594,803  553,475
3      1988年    1989年      1990年    1991年    1992年    1993年    1994年    1995年
4          -        -          -        -        -        -        -        -

     1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年  \
0  498,075  475,940  459,415  429,329  403,489  383,793  374,655  366,960
1  487,942  466,640  452,302  424,575  400,194  379,741  371,551  363,241
2  521,163  496,460  475,111  441,345  411,818  394,036  382,836  376,763
3    1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年
4        -        -        -        -        -        -        -        -

     2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年  \
0  362,065  360,948  365,030  398,491  437,065  395,796  379,742  379,572
1  357,820  356,503  358,993  386,253  431,770  394,967  376,245  377,463
2  373,254  372,943  381,960  432,959  451,653  397,877  388,163  384,306
3    2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年
4        -        -        -        -        -        -        -        -

     2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年  \
0  377,610  377,849  395,285  399,353  398,232  409,257  423,893  440,779
1  375,145  375,081  396,809  401,357  394,236  404,590  418,763  435,136
2  383,142  384,061  392,673  395,918  407,204  419,734  435,408  453,448
3    2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年
4        -        -  404,000  410,000  421,000  435,000  454,000  481,000

     2020年    2021年    2022年
0  452,968  449,937        -
1  451,181  446,363  452,245
2  456,979  457,959        -
3    2020年    2021年    2022年
4  488,000  491,000        -

### 大田区

In [200]:
df_ota = pd.read_csv('../data/outer_data/tokyo-ota.csv', encoding='shift-jis')
print(df_ota.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_ota = pd.read_csv('../data/outer_data/tokyo-ota.csv', encoding='shift-jis')

locations = df_ota[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
ota2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    ota2019.append(address_price)

ota2019 = pd.DataFrame(ota2019)
ota2019 = ota2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = ota2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_ota2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_ota2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_ota2019.to_csv('../data/handmade_data/block_aveprice_ota2019.csv', index=False)
#bunkyo

              市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0              大田区        総平均  500,388  529,901  583,500  806,844  1,649,853
1              大田区     公示地価平均  534,886  569,773  619,377  776,407  1,625,150
2              大田区     基準地価平均  463,820  486,775  544,693  840,387  1,680,102
3               住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都大田区北千束1-39-7       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年      1993年    1994年  \
0  1,861,266  1,792,062  1,821,339  1,854,276  1,549,267  1,121,414  888,668
1  2,050,733  1,939,316  1,979,000  2,048,033  1,777,316  1,243,675  936,500
2  1,629,265  1,622,153  1,639,423  1,630,711  1,286,134    943,581  805,181
3      1988年      1989年      1990年      1991年      1992年      1993年    1994年
4          -          -          -          -          -          -        -

     1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年  \
0  776,975  707,530  617,437  571,785  541,559  505,291  481,770  470,071
1  799,091  726,706  637,678  588,927  555,727  515,890  490,572  478,239
2  733,145  669,527  579,396  539,275  511,000  482,431  462,784  451,333
3    1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年
4        -        -        -        -        -        -        -        -

     2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年  \
0  463,059  459,886  459,402  467,229  525,006  569,390  527,813  499,112
1  470,991  467,452  467,460  471,982  526,363  584,130  546,594  513,479
2  444,862  442,529  440,489  455,702  521,613  533,545  484,704  467,113
3    2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年
4        -        -        -        -        -        -        -        -

     2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年  \
0  494,147  488,941  497,176  524,811  536,564  545,000  567,802  586,880
1  509,239  503,032  513,097  551,534  563,369  560,989  586,989  606,122
2  462,590  459,477  463,886  480,477  492,090  511,568  525,068  544,022
3    2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年
4        -        -        -  550,000  566,000  600,000  624,000  640,000

     2019年    2020年    2021年    2022年
0  609,746  633,852  632,267        -
1  627,693  658,908  655,387  663,163
2  569,772  578,045  580,772        -
3    2019年    2020年    2021年    2022年
4  655,000  660,000  664,000        -

### 世田谷区

In [201]:
df_setagaya = pd.read_csv('../data/outer_data/tokyo-setagaya.csv', encoding='shift-jis')
print(df_setagaya.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_setagaya = pd.read_csv('../data/outer_data/tokyo-setagaya.csv', encoding='shift-jis')

locations = df_setagaya[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
setagaya2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    setagaya2019.append(address_price)

setagaya2019 = pd.DataFrame(setagaya2019)
setagaya2019 = setagaya2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = setagaya2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_setagaya2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_setagaya2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_setagaya2019.to_csv('../data/handmade_data/block_aveprice_setagaya2019.csv', index=False)
#bunkyo

              市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0             世田谷区        総平均  443,400  463,374  506,815  721,827  1,472,815
1             世田谷区     公示地価平均  441,404  456,585  488,393  587,475  1,245,556
2             世田谷区     基準地価平均  446,042  472,623  531,913  881,492  1,762,652
3               住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都世田谷区赤堤3-9-11       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年    1993年    1994年  \
0  1,616,958  1,525,146  1,530,192  1,506,683  1,208,819  916,058  770,434
1  1,599,811  1,482,287  1,473,643  1,463,009  1,204,237  918,945  765,861
2  1,642,057  1,582,105  1,605,342  1,564,723  1,214,907  911,157  779,578
3      1988年      1989年      1990年      1991年      1992年    1993年    1994年
4          -          -          -          -          -        -        -

     1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年  \
0  701,722  647,914  621,567  604,510  575,291  553,451  541,506  535,135
1  700,934  644,331  618,278  602,911  573,786  550,420  538,218  533,000
2  703,473  655,881  628,881  608,065  579,029  560,985  549,676  540,661
3    1995年    1996年    1997年    1998年    1999年    2000年    2001年    2002年
4        -        -        -        -        -        -        -        -

     2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年  \
0  526,811  522,438  524,567  544,919  624,995  687,152  612,569  575,639
1  524,909  520,494  520,773  532,029  605,542  684,672  618,270  573,606
2  531,735  527,470  534,454  580,111  677,934  693,737  598,081  580,639
3    2003年    2004年    2005年    2006年    2007年    2008年    2009年    2010年
4  553,000  550,000  552,000  610,000  685,000  700,000  600,000  580,000

     2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年  \
0  568,437  562,706  565,139  586,836  597,309  604,110  628,519  660,196
1  566,842  559,550  560,900  587,581  597,845  597,820  621,888  652,993
2  572,098  569,950  574,868  585,491  596,344  618,442  644,065  677,081
3    2011年    2012年    2013年    2014年    2015年    2016年    2017年    2018年
4  570,000  567,000  572,000  580,000  588,000  600,000  618,000  643,000

     2019年    2020年    2021年    2022年
0  696,803  724,838  722,073        -
1  690,153  724,748  719,776  727,538
2  712,393  725,049  727,459        -
3    2019年    2020年    2021年    2022年
4  660,000  662,000  650,000        -

### 渋谷区

In [202]:
df_shibuya = pd.read_csv('../data/outer_data/tokyo-shibuya.csv', encoding='shift-jis')
print(df_shibuya.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_shibuya = pd.read_csv('../data/outer_data/tokyo-shibuya.csv', encoding='shift-jis')

locations = df_shibuya[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
shibuya2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    shibuya2019.append(address_price)

shibuya2019 = pd.DataFrame(shibuya2019)
shibuya2019 = shibuya2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = shibuya2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_shibuya2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_shibuya2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_shibuya2019.to_csv('../data/handmade_data/block_aveprice_shibuya2019.csv', index=False)
#bunkyo

               市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0               渋谷区        総平均  1,379,000  1,619,734  2,531,020  4,384,343
1               渋谷区     公示地価平均  1,346,535  1,552,857  2,361,428  4,464,241
2               渋谷区     基準地価平均  1,422,285  1,708,904  2,757,142  4,318,142
3                住所        NaN      1983年      1984年      1985年      1986年
4  東京都渋谷区神宮前3-13-13       基準地価          -          -          -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  6,983,593  7,498,181  7,600,606  7,895,454  7,913,333  6,835,925
1  6,911,724  8,107,741  8,055,161  8,362,258  8,411,290  7,630,218
2  7,043,142  6,958,285  7,198,000  7,482,000  7,472,285  6,109,714
3      1987年      1988年      1989年      1990年      1991年      1992年
4          -          -          -          -          -          -

       1993年      1994年      1995年      1996年      1997年      1998年  \
0  5,295,714  3,411,821  2,459,340  1,912,806  1,748,193  1,708,727
1  6,047,380  3,773,959  2,666,452  2,020,509  1,810,867  1,781,094
2  4,393,714  2,904,828  2,145,714  1,749,714  1,653,285  1,599,142
3      1993年      1994年      1995年      1996年      1997年      1998年
4          -          -          -          -          -          -

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  1,630,111  1,563,012  1,547,695  1,640,950  1,658,800  1,675,190
1  1,653,962  1,573,018  1,555,351  1,699,416  1,708,458  1,725,125
2  1,584,964  1,543,714  1,532,928  1,490,607  1,531,107  1,546,785
3      1999年      2000年      2001年      2002年      2003年      2004年
4          -          -          -          -          -          -

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  1,744,806  1,986,185  2,640,404  3,097,771  2,931,477  2,581,842
1  1,786,140  2,020,814  2,689,823  3,339,242  3,095,750  2,693,650
2  1,636,111  1,896,407  2,511,153  2,484,807  2,527,115  2,310,923
3      2005年      2006年      2007年      2008年      2009年      2010年
4          -          -          -          -          -          -

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  2,503,882  2,426,400  2,422,929  2,561,089  2,707,205  2,907,729
1  2,655,966  2,558,220  2,540,627  2,712,307  2,855,192  3,043,050
2  2,158,769  2,127,269  2,155,846  2,258,653  2,411,230  2,600,653
3      2011年      2012年      2013年      2014年      2015年      2016年
4          -          -          -          -          -          -

       2017年      2018年      2019年      2020年      2021年      2022年
0  3,268,176  3,620,858  4,133,816  4,457,517  4,370,229          -
1  3,450,423  3,828,186  4,234,271  4,660,152  4,539,915  4,547,254
2  2,854,615  3,150,384  3,922,142  4,030,535  4,012,678          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4          -          -          -          -  1,630,000          -

### 品川区

In [203]:
df_shinagawa = pd.read_csv('../data/outer_data/tokyo-shinagawa.csv', encoding='shift-jis')
print(df_shinagawa.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_shinagawa = pd.read_csv('../data/outer_data/tokyo-shinagawa.csv', encoding='shift-jis')

locations = df_shinagawa[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
shinagawa2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    shinagawa2019.append(address_price)

shinagawa2019 = pd.DataFrame(shinagawa2019)
shinagawa2019 = shinagawa2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = shinagawa2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_shinagawa2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_shinagawa2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_shinagawa2019.to_csv('../data/handmade_data/block_aveprice_shinagawa2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年      1985年      1986年  \
0             品川区        総平均  660,300  746,795    873,571  1,275,352
1             品川区     公示地価平均  774,520  850,720  1,019,800  1,465,888
2             品川区     基準地価平均  546,080  638,541    721,250  1,061,000
3              住所        NaN    1983年    1984年      1985年      1986年
4  東京都品川区荏原2-11-8       基準地価  375,000  385,000    410,000    600,000

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  2,776,509  2,922,678  3,024,610  3,047,152  3,017,610  2,699,593
1  3,429,354  3,658,437  3,606,250  3,661,562  3,649,062  3,354,312
2  1,933,250  1,941,666  2,335,259  2,318,962  2,269,222  1,923,629
3      1987年      1988年      1989年      1990年      1991年      1992年
4  1,090,000  1,060,000    970,000    970,000    920,000    740,000

       1993年      1994年      1995年      1996年    1997年    1998年    1999年  \
0  1,944,486  1,560,987  1,200,144  1,016,533  889,455  830,033  788,352
1  2,269,044  1,794,519  1,313,000  1,101,344  948,672  874,229  824,459
2  1,440,862  1,142,241    962,758    838,137  764,896  737,068  706,777
3      1993年      1994年      1995年      1996年    1997年    1998年    1999年
4    620,000    570,000    560,000    550,000  540,000  531,000  518,000

     2000年    2001年    2002年    2003年    2004年    2005年    2006年    2007年  \
0  746,034  720,420  712,368  699,320  690,543  695,840  743,878  907,829
1  777,131  749,114  735,197  720,013  709,447  715,864  755,878  920,788
2  675,777  655,592  648,111  641,074  637,333  638,846  708,360  867,826
3    2000年    2001年    2002年    2003年    2004年    2005年    2006年    2007年
4  500,000  495,000  493,000  486,000  484,000  490,000  534,000  588,000

       2008年    2009年    2010年    2011年    2012年    2013年    2014年    2015年  \
0  1,024,576  904,157  836,068  806,807  798,204  808,409  881,619  922,422
1  1,073,086  951,227  875,796  841,466  830,166  834,033  939,958  981,562
2    879,043  769,086  725,521  716,391  714,826  741,565  759,869  799,000
3      2008年    2009年    2010年    2011年    2012年    2013年    2014年    2015年
4    585,000  525,000  499,000  497,000  495,000  499,000  510,000  541,000

     2016年      2017年      2018年      2019年      2020年      2021年      2022年
0  924,524    976,060  1,038,819  1,110,783  1,173,180  1,165,518          -
1  963,881  1,018,883  1,084,233  1,160,600  1,242,600  1,228,066  1,240,166
2  823,565    864,347    920,347    980,826    992,086  1,002,347          -
3    2016年      2017年      2018年      2019年      2020年      2021年      2022年
4  563,000    588,000    628,000    660,000    667,000    679,000          -

### 新宿区

In [204]:
df_shinjuku = pd.read_csv('../data/outer_data/tokyo-shinjuku.csv', encoding='shift-jis')
print(df_shinjuku.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_shinjuku = pd.read_csv('../data/outer_data/tokyo-shinjuku.csv', encoding='shift-jis')

locations = df_shinjuku[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
shinjuku2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    shinjuku2019.append(address_price)

shinjuku2019 = pd.DataFrame(shinjuku2019)
shinjuku2019 = shinjuku2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = shinjuku2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_shinjuku2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_shinjuku2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_shinjuku2019.to_csv('../data/handmade_data/block_aveprice_shinjuku2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0             新宿区        総平均  1,696,130  2,023,820  2,910,656  4,796,691
1             新宿区     公示地価平均  1,627,969  1,945,363  2,736,969  4,497,611
2             新宿区     基準地価平均  1,758,611  2,099,970  3,079,235  4,982,327
3              住所        NaN      1983年      1984年      1985年      1986年
4  東京都新宿区市谷甲良町1-5       基準地価          -          -          -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  7,819,042  8,431,562  8,790,729  9,237,458  9,253,395  8,299,377
1  7,796,111  8,688,157  8,711,315  9,054,210  9,185,263  8,674,000
2  7,833,275  8,263,448  8,842,758  9,357,517  9,298,034  8,041,017
3      1987年      1988年      1989年      1990年      1991年      1992年
4  3,270,000  3,270,000  3,100,000  3,100,000  2,880,000  2,050,000

       1993年      1994年      1995年      1996年      1997年      1998年  \
0  5,898,684  4,108,173  3,062,551  2,379,385  2,160,141  2,080,881
1  6,337,660  4,215,317  3,160,971  2,405,492  2,114,724  2,052,797
2  5,497,551  3,991,793  2,945,465  2,348,327  2,214,172  2,114,293
3      1993年      1994年      1995年      1996年      1997年      1998年
4  1,440,000  1,120,000    950,000    785,000    730,000    708,000

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  2,073,921  1,968,176  1,979,709  1,900,951  1,853,493  1,831,381
1  1,953,043  1,867,528  1,879,816  1,833,530  1,792,285  1,765,224
2  2,255,239  2,132,023  2,133,891  2,044,586  1,983,891  1,972,326
3      1999年      2000年      2001年      2002年      2003年      2004年
4    686,000    676,000    676,000    665,000    663,000    663,000

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  1,839,604  1,927,532  2,327,962  2,824,418  2,565,554  2,311,017
1  1,777,123  1,851,905  2,189,695  2,781,730  2,593,012  2,217,480
2  1,983,904  2,098,595  2,645,975  2,919,400  2,511,325  2,491,075
3      2005年      2006年      2007年      2008年      2009年      2010年
4    676,000    705,000    835,000    865,000    785,000    760,000

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  2,297,428  2,247,061  2,248,389  2,497,819  2,648,076  2,723,362
1  2,238,805  2,180,671  2,162,383  2,479,953  2,604,476  2,604,383
2  2,402,950  2,368,225  2,405,350  2,526,850  2,718,925  2,940,500
3      2011年      2012年      2013年      2014年      2015年      2016年
4    750,000    747,000    760,000    785,000    815,000    855,000

       2017年      2018年      2019年      2020年      2021年      2022年
0  2,928,338  3,163,355  3,410,235  3,563,285  3,422,445          -
1  2,786,756  3,030,641  3,263,794  3,499,692  3,341,987  3,334,807
2  3,204,425  3,422,150  3,688,829  3,684,268  3,575,512          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4    900,000    945,000  1,010,000  1,050,000  1,050,000          -

### 杉並区

In [205]:
df_suginami = pd.read_csv('../data/outer_data/tokyo-suginami.csv', encoding='shift-jis')
print(df_suginami.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_suginami = pd.read_csv('../data/outer_data/tokyo-suginami.csv', encoding='shift-jis')

locations = df_suginami[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
suginami2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    suginami2019.append(address_price)

suginami2019 = pd.DataFrame(suginami2019)
suginami2019 = suginami2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = suginami2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_suginami2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_suginami2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_suginami2019.to_csv('../data/handmade_data/block_aveprice_suginami2019.csv', index=False)
#bunkyo

                市区町村 Unnamed: 1    1983年    1984年    1985年    1986年  \
0                杉並区        総平均  452,669  478,881  523,871  675,376
1                杉並区     公示地価平均  460,568  493,482  516,637  615,413
2                杉並区     基準地価平均  442,488  459,186  533,627  756,255
3                 住所        NaN    1983年    1984年    1985年    1986年
4  東京都杉並区高円寺北1-15-12       基準地価  333,000  340,000  370,000  536,000

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  1,417,100  1,614,541  1,556,212  1,562,292  1,564,238  1,389,141
1  1,299,378  1,592,575  1,502,878  1,498,636  1,499,242  1,426,606
2  1,597,790  1,648,255  1,631,106  1,651,680  1,655,510  1,336,531
3      1987年      1988年      1989年      1990年      1991年      1992年
4  1,100,000  1,040,000    980,000  1,010,000    970,000    747,000

       1993年    1994年    1995年    1996年    1997年    1998年    1999年    2000年  \
0  1,042,713  832,185  719,341  633,869  595,845  569,975  542,129  518,367
1  1,072,825  826,910  714,369  623,864  586,351  564,945  533,666  510,414
2    990,920  842,840  730,380  656,080  616,509  580,921  563,477  538,431
3      1993年    1994年    1995年    1996年    1997年    1998年    1999年    2000年
4    600,000  545,000  518,000  492,000  482,000  472,000  460,000  453,000

     2001年    2002年    2003年    2004年    2005年    2006年    2007年    2008年  \
0  506,877  496,339  487,805  483,767  485,333  497,300  547,564  589,361
1  496,900  487,660  479,643  474,756  475,053  481,000  525,879  582,390
2  532,045  519,022  509,136  507,318  512,348  541,829  607,615  608,128
3    2001年    2002年    2003年    2004年    2005年    2006年    2007年    2008年
4  447,000  441,000  433,000  431,000  433,000  450,000  502,000  502,000

     2009年    2010年    2011年    2012年    2013年    2014年    2015年    2016年  \
0  531,529  499,900  500,600  497,448  502,472  526,351  540,981  547,741
1  529,842  490,445  492,616  488,558  492,418  519,608  532,579  532,611
2  535,641  522,205  518,205  517,051  524,641  538,282  555,846  580,717
3    2009年    2010年    2011年    2012年    2013年    2014年    2015年    2016年
4  444,000  441,000  439,000  437,000  440,000  450,000  465,000  484,000

     2017年    2018年    2019年    2020年    2021年    2022年
0  574,568  604,568  641,504  673,608  670,544        -
1  555,965  582,267  617,023  657,023  649,720  664,313
2  615,589  653,743  695,487  710,179  716,461        -
3    2017年    2018年    2019年    2020年    2021年    2022年
4  499,000  525,000  550,000  555,000  560,000        -

### 墨田区

In [207]:
df_sumida = pd.read_csv('../data/outer_data/tokyo-sumida.csv', encoding='shift-jis')
print(df_sumida.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_sumida = pd.read_csv('../data/outer_data/tokyo-sumida.csv', encoding='shift-jis')

locations = df_sumida[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
sumida2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    sumida2019.append(address_price)

sumida2019 = pd.DataFrame(sumida2019)
sumida2019 = sumida2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = sumida2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_sumida2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_sumida2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_sumida2019.to_csv('../data/handmade_data/block_aveprice_sumida2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0             墨田区        総平均  534,583  557,352  579,558  656,363  1,501,151
1             墨田区     公示地価平均  539,625  555,375  578,937  638,133  1,272,200
2             墨田区     基準地価平均  530,550  559,111  580,111  671,555  1,691,944
3              住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都墨田区立花1-25-2       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年      1993年  \
0  2,048,090  2,129,764  2,194,529  2,179,676  1,755,676  1,459,558
1  2,214,000  2,279,666  2,364,666  2,396,533  2,091,666  1,607,333
2  1,909,833  2,011,421  2,060,210  2,008,473  1,490,421  1,318,500
3      1988年      1989年      1990年      1991年      1992年      1993年
4          -          -          -          -          -          -

       1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年  \
0  1,212,666  907,019  716,764  616,392  569,153  525,660  484,700  451,160
1  1,293,739  944,482  742,862  625,206  580,689  530,620  490,206  453,689
2  1,127,909  857,636  682,363  604,772  554,608  518,809  477,095  447,666
3      1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年
4          -        -        -        -  329,000  315,000  305,000  301,000

     2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年  \
0  428,865  417,769  411,884  410,627  416,440  479,708  531,595  493,130
1  430,967  417,612  409,806  407,516  407,900  462,827  529,178  499,037
2  425,761  418,000  414,952  415,450  429,250  505,473  535,157  484,736
3    2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年
4  297,000  293,000  290,000  288,000  293,000  318,000  325,000  298,000

     2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年  \
0  469,244  463,744  461,069  464,720  486,575  498,675  500,488  519,046
1  471,615  468,625  462,666  465,541  497,047  511,571  501,541  518,500
2  466,000  457,578  459,052  463,684  475,000  484,421  499,157  519,736
3    2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年
4  289,000  282,000  282,000  282,000  288,000  293,000  297,000  304,000

     2018年    2019年    2020年    2021年    2022年
0  549,534  595,046  630,534  629,767        -
1  544,500  589,458  647,458  644,291  654,000
2  555,894  602,105  609,157  611,421        -
3    2018年    2019年    2020年    2021年    2022年
4  314,000  325,000  329,000  329,000        -

### 台東区

In [208]:
df_taito = pd.read_csv('../data/outer_data/tokyo-taito.csv', encoding='shift-jis')
print(df_taito.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_taito = pd.read_csv('../data/outer_data/tokyo-taito.csv', encoding='shift-jis')

locations = df_taito[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
taito2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    taito2019.append(address_price)

taito2019 = pd.DataFrame(taito2019)
taito2019 = taito2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = taito2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_taito2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_taito2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_taito2019.to_csv('../data/handmade_data/block_aveprice_taito2019.csv', index=False)
#bunkyo

              市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0              台東区        総平均  1,142,255  1,237,488  1,429,744  2,398,790
1              台東区     公示地価平均  1,295,857  1,405,476  1,671,571  2,158,476
2              台東区     基準地価平均    995,636  1,077,136  1,198,909  2,628,181
3               住所        NaN      1983年      1984年      1985年      1986年
4  東京都台東区上野桜木1-1-5       基準地価          -          -          -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  4,068,936  4,520,659  4,620,367  4,896,530  4,878,571  4,374,081
1  4,280,400  5,133,640  5,113,520  5,475,200  5,472,400  5,045,200
2  3,828,636  3,824,090  4,106,666  4,293,750  4,260,000  3,675,000
3      1987年      1988年      1989年      1990年      1991年      1992年
4          -          -          -          -          -          -

       1993年      1994年      1995年      1996年      1997年      1998年  \
0  3,443,311  2,832,250  2,288,944  1,728,861  1,429,152  1,235,780
1  3,859,705  3,071,878  2,509,977  1,877,955  1,523,711  1,308,377
2  2,918,962  2,468,370  1,920,555  1,480,370  1,271,555  1,119,107
3      1993年      1994年      1995年      1996年      1997年      1998年
4          -          -          -          -          -    633,000

       1999年      2000年      2001年      2002年    2003年    2004年    2005年  \
0  1,187,712  1,110,394  1,032,056  1,002,715  944,989  903,305  893,858
1  1,202,955  1,107,022  1,027,266  1,013,434  955,550  911,869  895,865
2  1,163,214  1,116,230  1,040,346    974,269  916,961  880,576  888,480
3      1999年      2000年      2001年      2002年    2003年    2004年    2005年
4    610,000    600,000    595,000    593,000  591,000  591,000  593,000

     2006年      2007年      2008年      2009年      2010年      2011年    2012年  \
0  919,326  1,105,943  1,299,267  1,177,674  1,080,536  1,000,615  975,628
1  905,417  1,079,625  1,321,419  1,207,677  1,097,724  1,004,462  973,518
2  956,600  1,176,125  1,242,041  1,103,916  1,039,000    991,958  980,375
3    2006年      2007年      2008年      2009年      2010年      2011年    2012年
4  650,000    780,000    820,000    720,000    682,000    663,000  657,000

     2013年      2014年      2015年      2016年      2017年      2018年      2019年  \
0  983,333  1,103,437  1,134,812  1,083,102  1,160,512  1,255,858  1,418,712
1  983,018  1,162,750  1,193,650  1,078,314  1,149,666  1,237,407  1,376,259
2  984,041  1,004,583  1,036,750  1,093,875  1,184,916  1,297,375  1,506,884
3    2013年      2014年      2015年      2016年      2017年      2018年      2019年
4  658,000    671,000    685,000    704,000    728,000    772,000    830,000

       2020年      2021年      2022年
0  1,559,087  1,500,500          -
1  1,571,555  1,492,074  1,499,740
2  1,533,192  1,518,000          -
3      2020年      2021年      2022年
4    830,000    853,000          -

### 豊島区

In [209]:
df_toshima = pd.read_csv('../data/outer_data/tokyo-toshima.csv', encoding='shift-jis')
print(df_toshima.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_toshima = pd.read_csv('../data/outer_data/tokyo-toshima.csv', encoding='shift-jis')

locations = df_toshima[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
toshima2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    toshima2019.append(address_price)

toshima2019 = pd.DataFrame(toshima2019)
toshima2019 = toshima2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = toshima2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_toshima2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_toshima2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_toshima2019.to_csv('../data/handmade_data/block_aveprice_toshima2019.csv', index=False)
#bunkyo

             市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0             豊島区        総平均  1,071,933  1,184,666  1,370,688  2,206,955
1             豊島区     公示地価平均  1,249,166  1,392,916  1,659,250  2,149,833
2             豊島区     基準地価平均    869,380    946,666  1,040,904  2,272,238
3              住所        NaN      1983年      1984年      1985年      1986年
4  東京都豊島区巣鴨1-35-6       基準地価          -          -          -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  3,861,755  4,452,367  4,869,169  5,195,698  5,376,415  5,000,811
1  4,153,785  4,877,500  5,099,285  5,280,714  5,612,857  5,252,250
2  3,472,380  3,885,523  4,611,440  5,100,480  5,111,600  4,719,200
3      1987年      1988年      1989年      1990年      1991年      1992年
4          -          -          -          -          -          -

       1993年      1994年      1995年      1996年      1997年      1998年  \
0  3,498,301  2,487,898  1,917,333  1,552,875  1,344,236  1,219,388
1  3,473,783  2,509,720  1,926,956  1,567,043  1,345,760  1,212,413
2  3,533,192  2,451,807  1,900,307  1,527,807  1,341,538  1,231,730
3      1993年      1994年      1995年      1996年      1997年      1998年
4          -          -          -          -          -          -

       1999年      2000年      2001年    2002年    2003年    2004年    2005年  \
0  1,135,391  1,033,884    956,884  956,804  900,057  865,655  866,470
1  1,086,826    982,195    905,391  946,640  888,328  852,093  849,269
2  1,232,521  1,137,260  1,059,869  985,086  932,695  903,391  915,727
3      1999年      2000年      2001年    2002年    2003年    2004年    2005年
4    670,000    625,000    585,000  552,000  525,000  510,000  510,000

       2006年      2007年      2008年      2009年      2010年      2011年  \
0    893,023  1,090,096  1,282,500  1,114,753  1,054,827  1,040,402
1    855,253  1,029,737  1,263,633  1,097,169  1,023,779  1,015,072
2  1,001,181  1,257,454  1,333,954  1,161,909  1,138,090  1,103,727
3      2006年      2007年      2008年      2009年      2010年      2011年
4    535,000    635,000    661,000    595,000    585,000    568,000

       2012年      2013年      2014年      2015年      2016年      2017年  \
0  1,036,714  1,040,597  1,141,442  1,192,385  1,190,285  1,274,259
1  1,013,272  1,010,690  1,133,416  1,179,375  1,150,890  1,228,254
2  1,095,318  1,115,363  1,158,954  1,220,772  1,288,772  1,389,272
3      2012年      2013年      2014年      2015年      2016年      2017年
4    563,000    564,000    580,000    603,000    627,000    655,000

       2018年      2019年      2020年      2021年      2022年
0  1,381,012  1,517,467  1,615,623  1,587,519          -
1  1,325,800  1,447,581  1,567,054  1,530,381  1,534,727
2  1,519,045  1,692,181  1,737,045  1,730,363          -
3      2018年      2019年      2020年      2021年      2022年
4    700,000    760,000    780,000    780,000          -